<li>
  <div class="menu-box pull-right">
    <a href="https://store.risevision.com/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_store.png"></div>
      <span>Store</span>
    </a>
  </div>
  
  <div class="menu-box pull-right">
    <a href="http://rva.risevision.com/#PRESENTATIONS" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_editor.png"></div>
      <span>Editor</span>
    </a>
  </div>
  
</li>
<li>
  <div class="menu-box pull-left">
    <a href="http://storage.risevision.com/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_storage.png"></div>
      <span>Storage</span>
    </a>
  </div>
  
  <div class="menu-box pull-left">
    <a href="http://displays.risevision.com/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_displays.png"></div>
      <span>Displays</span>
    </a>
  </div>
  
</li>
<li>
  
  <div class="menu-box pull-left">
    <a href="http://rva.risevision.com/#SCHEDULES" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_schedules.png"></div>
      <span>Schedules</span>
    </a>
  </div>
  
  <div class="menu-box pull-right">
    <a href="https://support.risevision.com" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_support.png"></div>
      <span>Support</span>
    </a>
  </div>
</li>
<li>
  <div class="menu-box pull-left">
    <a href="https://community.risevision.com/rise_vision_inc" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_community.png"></div>
      <span>Community</span>
    </a>
  </div>
  <div class="menu-box pull-right">
    <a href="http://help.risevision.com/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_documentation.png"></div>
      <span>Documentation</span>
    </a>
  </div>
</li>
<li>
  <div class="menu-box pull-left">
    <a href="http://developer.risevision.com/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_hub.png"></div>
      <span>Developer</span>
    </a>
  </div>
  <div class="menu-box pull-right">
    <a href="http://www.risevision.com/about-us/" target="_blank">
      <div class="app-nav-icon"><img src="https://s3.amazonaws.com/rise-common/images/nav/icon_about.png"></div>
      <span>About</span>
    </a>
  </div>
</li>
