<li dropdown class="dropdown hidden-xs">
  <a href="" dropdown-toggle class="dropdown-toggle"><i class="fa fa-th"></i></a>
  <div class="dropdown-menu app-navigation" role="menu">
    <ng-include 
      replace-include
      src="'app-nav-buttons-menu.html'">
    </ng-include>
  </div>
</li>

<!-- Mobile -->
<li class="visible-xs-inline-block" >
  <a href="" class="company-buttons-icon-mobile"
  action-sheet="'app-nav-buttons-menu.html'"
  action-sheet-class="app-navigation">
    <i class="fa fa-th"></i>
  </a>
</li>
