<ul>
  <li>
    <div class="menu-box pull-right">
      <a href="https://store.risevision.com/" target="_blank" link-cid>
        <svg-icon p="riseStore"></svg-icon>
        <span>Store</span>
      </a>
    </div>
    
    <div class="menu-box pull-right">
      <a href="http://rva.risevision.com/#PRESENTATIONS" target="_blank" link-cid>
        <svg-icon p="riseEditor"></svg-icon>
        <span>Editor</span>
      </a>
    </div>
    
  </li>
  <li>
    <div class="menu-box pull-left">
      <a href="http://storage.risevision.com/" target="_blank" link-cid>
        <svg-icon p="riseStorage"></svg-icon>
        <span>Storage</span>
      </a>
    </div>
    
    <div class="menu-box pull-left">
      <a href="http://rva.risevision.com/#DISPLAYS" target="_blank" link-cid>
        <svg-icon p="riseDisplays"></svg-icon>
        <span>Displays</span>
      </a>
    </div>
    
  </li>
  <li>
    <div class="menu-box pull-left">
      <a href="http://rva.risevision.com/#SCHEDULES" target="_blank" link-cid>
        <svg-icon p="riseSchedules"></svg-icon>
        <span>Schedules</span>
      </a>
    </div>
    
    <div class="menu-box pull-right">
      <a href="https://support.risevision.com" target="_blank" link-cid>
        <svg-icon p="riseSupport"></svg-icon>
        <span>Support</span>
      </a>
    </div>
  </li>
  <li>
    <div class="menu-box pull-left">
      <a href="https://community.risevision.com/rise_vision_inc" target="_blank">
        <svg-icon p="riseCommunity"></svg-icon>
        <span>Community</span>
      </a>
    </div>
    <div class="menu-box pull-right">
      <a href="http://help.risevision.com/" target="_blank" link-cid>
        <svg-icon p="riseDocumentation"></svg-icon>
        <span>Documentation</span>
      </a>
    </div>
  </li>
  <li>
    <div class="menu-box pull-left">
      <a href="http://developer.risevision.com/" target="_blank" link-cid>
        <svg-icon p="riseDevelopers"></svg-icon>
        <span>Developer</span>
      </a>
    </div>
    <div class="menu-box pull-right">
      <a href="http://www.risevision.com/about-us/#" target="_blank" link-cid>
        <svg-icon p="riseLogo"></svg-icon>
        <span>About</span>
      </a>
    </div>
  </li>
</ul>
