<company-buttons
  ng-show="isRiseVisionUser"
  ng-controller="CompanyButtonsCtrl"
></company-buttons>

<ul>
  <li ng-show="isRiseVisionUser">
    <a href="" ng-click="userSettings()" class="user-settings-button action">
      <i class="fa fa-user"></i>
      <span class="item-name">User Settings</span>
    </a>
  </li>

  <li class="dropdown-footer text-right" ng-show="isLoggedIn">
    <button class="sign-out-button btn btn-sm btn-default" ng-click="logout()">Sign Out <i class="fa fa-sign-out"></i>
  </li>
</ul>
