<div class="modal-body text-center" style="padding:15px 20px;">
  <img src="//s3.amazonaws.com/rise-common/images/logo-small.png" class="text-center" width="113" height="42" alt="Rise Vision">
  
  <h1>The Enterprise Digital Signage Platform</h1>
  <p class="lead">Everything you need to create amazing digital signage for FREE</p>
  
  <h4 class="add-bottom"><a href="http://www.risevision.com" target="_blank">Learn More about Rise Vision</a></h4>
  
  <button class="btn-lg btn btn-primary" ng-click="login();">
    <i class="fa fa-google fa-lg icon-left"></i>
    Start with a Google Account
  </button>
  
  <p class="text-muted half-top">Don&apos;t Have a Google Account? <a href="https://accounts.google.com/SignUp" target="_blank">Get One Here.</a></p>
  <p class="text-muted half-top">Already a Rise Vision User? <a ng-click="login(); $event.stopPropagation();" href="#">Sign In</a></p>
</div>
